<h1>Editing comment</h1>

<%= render "form", comment: @comment %>

<br>

<div>
  <%= link_to "Show", topic_post_comment_path(@topic,@post,@comment) %> |
  <%= link_to "Back", topic_post_path(@topic,@post) %>
</div>
