<div id="<%= dom_id commentsrating %>">
  <p>
    <strong>No:</strong>
    <%= commentsrating.no %>
  </p>

  <p>
    <strong>User:</strong>
    <%= commentsrating.user_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= commentsrating.comment_id %>
  </p>

</div>
