<h1>Editing commentsrating</h1>

<%= render "form", commentsrating: @commentsrating %>

<br>

<div>
  <%= link_to "Show this commentsrating", @commentsrating %> |
  <%= link_to "Back to commentsratings", commentsratings_path %>
</div>
